<div class="welcome-content">
    <div class="welcome-icon">
        <mat-icon>chat_bubble_outline</mat-icon>
    </div>
    <h1 class="welcome-title">Welcome to Messages</h1>
    <p class="welcome-description">
        Select a contact from the sidebar to start a conversation<br>
        or create a new contact to get started.
    </p>
    <div class="welcome-features">
        <div class="feature-item">
            <mat-icon>group</mat-icon>
            <span>Connect with your contacts</span>
        </div>
        <div class="feature-item">
            <mat-icon>security</mat-icon>
            <span>Secure messaging</span>
        </div>
        <div class="feature-item">
            <mat-icon>flash_on</mat-icon>
            <span>Instant delivery</span>
        </div>
    </div>
</div>