:host {
    border-right: 2px solid rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    height: 100%;

    ::ng-deep {
        .list-container {
            box-shadow: none!important;
        }
    }
}