<mat-list-item class="contact-item" [class.selected]="isSelected" (click)="onItemClick()">
    <div class="contact-content">
        <div mat-list-avatar class="contact-avatar">
            <img *ngIf="contact.avatar" [src]="contact.avatar" [alt]="contact.name" class="avatar-image">
            <div *ngIf="!contact.avatar" class="avatar-fallback"
                [style.background-color]="getRandomColor(contact.name)">
                {{ getInitials(contact.name) }}
            </div>
        </div>

        <div class="contact-info">
            <div mat-line class="contact-name">{{ contact.name }}</div>
            <div mat-line class="contact-email">{{ contact.email }}</div>
            <div *ngIf="contact.phone" mat-line class="contact-phone">{{ contact.phone }}</div>
        </div>

        <button mat-icon-button class="menu-button" (click)="onMenuClick($event)"
            [attr.aria-label]="'Actions for ' + contact.name">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</mat-list-item>