<mat-list-item class="item" [class.selected]="isSelected" (click)="onItemClick()">
    <div class="item-content">
        <div *ngIf="item?.usingImage" mat-list-avatar class="item-image">
            <img *ngIf="item?.image" [src]="item?.image" [alt]="item?.displayName" class="image-content">
            <div *ngIf="!item?.image" class="image-fallback"
                [style.background-color]="getRandomColor(item.displayName)">
                {{ getInitials(item?.displayName) }}
            </div>
        </div>

        <div *ngIf="item?.usingIcon" mat-list-avatar class="item-icon">
            <mat-icon class="icon-content">{{ item?.icon }}</mat-icon>
        </div>

        <div class="item-info">
            <div *ngIf="item?.displayName" mat-line class="item-info-primary">{{ item?.displayName }}</div>
            <div *ngFor="let i of item?.info" mat-line [ngClass]="'item-info-' + (i?.style || 'secondary')">{{
                i?.content }}</div>
        </div>
        <button *ngIf="!!buttons && buttons?.length > 0" [matMenuTriggerFor]="moreMenu" mat-icon-button
            class="more-button" [attr.aria-label]="'Actions for ' + item.name" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu" class="more-menu">
            <div class="item-button-container">
                <button mat-button *ngFor="let btn of buttons" (click)="onItemButtonClick(btn)" class="item-btn">
                    {{ btn?.displayName }}
                </button>
            </div>
        </mat-menu>
    </div>
</mat-list-item>